/* To use fonts which are downloaded we use @font-face */
@font-face {
  font-family: downloadedFont; /* we can give any name to the font*/
  src: url("./Fonts/webfonts_Ohyou/Ohyou.ttf.woff");
}



h1 {
  font-size: 50px;
  font-weight: lighter; /*font-weight property decides the blodness of the font*/

  /* The following lines are copied from google fonts website */
  font-family: "Poppins", sans-serif; /*here we have given two fonts in font-family as if one fails then other can act as backup*/
  font-weight: 700;
  font-style: normal;
}
#p1 {
  font-size: 25px;
  font-weight: 400;
  font-style: italic;

  /* The following lines are copied from google fonts */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#p2 {
  font-variant: small-caps;
  font-size: 20px;
}
#downloadFont {
  font-family: "downloadedFont", "Poppins";
}
