/* universal settings */

/* universal padding and margin (to set the default values of padding and margin equal to 0)*/
* {
  padding: 0px;
  margin: 0px;
}
/* universal font */
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* universal heading fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/* universal padding */
.uni-padding {
  padding: 0 7%;
}
/* variables */
:root {
  --uiPink: #fc4e4e;
  --uiYellow: #fab340;
  --uiLightTeal: #6d99a2;
  --uiTeal: #02808f;
  --uiDarkTeal: #124c60;
  --uiWhite: aliceblue;
}

/* header start */

/* topbar */
#topbar {
  background-color: var(--uiDarkTeal);
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

#topbar p{
  float: left;
  color: var(--uiWhite);
}
/* social icons */
#topbar #social-icons{
  float: right;
}
#topbar #social-icons .fa-brands{
  background-color: var(--uiWhite);
  min-width: 20px;
  text-align: center;
  padding: 7px 5px;
  border-radius: 50%;
  color: var(--uiDarkTeal);
}

/* logo-bar */
#logo-bar{
  height: 100px;
  background-image: url("./images/Header.png");
  background-size: contain;
  background-position-x: 200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#logo-bar img{
  height: 100%;
}

/* menu-bar */
#menu-bar{
  background-color: var(--uiPink);
  overflow: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
#menu-bar ul{
  list-style-type: none;
}
#menu-bar ul li{
  float: left;
  margin-right:  30px;
}
#menu-bar ul li a{
  text-decoration: none;
  color: var(--uiWhite);
}
/* header ends */

/* footer starts */
footer{
  background-color: var(--uiLightTeal);
  color: var(--uiWhite);
  overflow: auto;
}
footer #important-link div{
  /* display: inline-block; */
  width: 33.33%;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  text-align: justify;
}
footer #important-link div h2{
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  margin-bottom: 15px;
}
/* styling the #imp-links */
footer #important-link #imp-links{
  padding-left: 10%;
}
footer #important-link #imp-links ul{
  list-style-type: none;
}
footer #important-link #imp-links ul li a{
  text-decoration: none;
  color: var(--uiWhite);
}

/* copy-right */
footer #copy-right{
  clear: left;
  background-color: var(--uiDarkTeal);
  text-align: center;
  padding: 10px;
}
/* footer ends */

/* home page */
/* poster */
#poster{
  background-image: url("./images/City_Landscape_Background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 550px;
  background-repeat: no-repeat;
  background-size: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: var(--uiWhite);
}
#poster h1{
  text-align: center;
  font-size: 70px;
  padding: 10px;
}
#poster p{
  margin: 10px 20%;
  font-size: larger;
  text-align: center;
}

/* why us section */
#why-us h1{
  text-align: center;
  font-size: 40px;
  color: var(--uiPink);
  padding: 10px;
}
#why-us article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#why-us article .cards{
  text-align: center;
  flex-basis: 400px;
  padding-bottom: 20px;
}
#why-us article .cards img{
  border-radius: 10%;
}
#why-us article .cards h2{
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--uiPink);
}
#why-us article .cards p{
  padding: 10px 15%;
}

/* contact section */
#contact{
  background-color: var(--uiPink);
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
}
#contact #info{
  color: var(--uiWhite);
  width: 70%;
  float: left;
}
#contact #button{
  float: left;
  width: 30%;
  text-align: center;
  margin-top: 30px;
}
#contact #button a{
  background-color: var(--uiWhite);
  padding: 10px 30px;
  border-radius: 7px;
  text-decoration: none;
  color: var(--uiPink);
  font-weight: 600;
}

/* blog section */
#blog h1{
  text-align: center;
  font-size: 40px;
  color: var(--uiPink);
  padding: 10px;
}
#blog article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#blog article .cards{
  text-align: center;
  flex-basis: 400px;
  padding-bottom: 20px;
}
#blog article .cards img{
  border-radius: 10%;
}
#blog article .cards h2{
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--uiPink);
}
#blog article .cards p{
  padding: 10px 15%;
}
#blog article .cards a{
  text-decoration: none;
  color: var(--uiPink);
  font-weight: 500;
}
