p {                         /*Element selector*/
  color: red;
}

#p3 {                        /*id selector/
  color: blue;
}

.green_text{                  /*class selector*/
    color:green;
}

#large_font{
    font-size: 40px;
}

.underline_text{
    text-decoration: underline;
}