#overflow1{
    background-color: lightblue;
    border: 3px solid black;
    width: 500px;
    height: 300px;
    overflow: visible; /*by default*/
}
#overflow2{
    background-color: lightblue;
    border: 3px solid black;
    width: 500px;
    height: 300px;
    overflow: hidden;
}
#overflow3{
    background-color: lightblue;
    border: 3px solid black;
    width: 500px;
    height: 300px;
    overflow: scroll;

    /* The below code will remove the x-axis scroll bar */
    overflow-x: hidden;
    overflow-y: scroll;
}
/*& overflow auto: automatically adds scroll bar according to the change in the size of the container or content or vice-versa */
/* *overflow: auto (is preferred) */
#overflow4{
    background-color: lightblue;
    border: 3px solid black;
    width: 500px;
    height: 300px;
    overflow: auto;
}
