/* default settings */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Poppins;
}

div {
  font-size: small;
  text-align: justify;
  column-count: 3;
  column-gap: 30px;
  column-rule-style: solid;
  column-rule-width: 4px;
  column-rule-color: grey;
  column-rule: 3px solid grey;
  column-width: 300px; /* it is the minimum width of the column */
}
h1 {
  column-span: all;
}
