@keyframes shimmer {
   0% {
      opacity: 100%;
   }
   50% {
      opacity: 70%;
   }
   100% {
      opacity: 100%;
   }
}
.shimmer {
   animation-name: shimmer;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
}
.shimmer-flag {
   background-color: #cccccc;
   height: 300px;
}
.shimmer-name {
   background-color: #cccccc;
   height: 4rem;
   border-radius: 10px;
}
.shimmer p {
   background-color: #cccccc;
   height: 2rem;
   min-width: 200px;
   border-radius: 10px;
}
.shimmer #border-info a {
   background-color: #cccccc;
   height: 2.5rem;
   width: 100px;
}
