.shimmer-flag{
   background-color: #cccccc;
   height: 300px;
}
.shimmer-name{
   background-color: #cccccc;
   height: 4rem;
   border-radius: 10px;
}
.shimmer p{
   background-color: #cccccc;
   height: 2rem;
   min-width: 200px;
   border-radius: 10px;
}
.shimmer #border-info a{
   background-color: #cccccc;
   height: 2.5rem;
   width: 100px;
}